*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

/* Area Geral do Site */

.password-generator{

}

/* Area da Header */

.password-generator__header{
    
}

.password-generator__datetime{

}

.password-generator__welcome{
    
}

/* Area do Main */

.password-generator__main{

}

