*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

/* Area Geral do Site */

.password-generator{

}

/* Area da Header */

.password-generator__header{
    
}

.password-generator__datetime{

}

.password-generator__welcome{
    
}

/* Area do Main */

.password-generator__main{

}

.password-generator__logo{

}

/* Area dos inputs */

.password-generator__input{

}

.password-generator__option{

}

/* Area de check */

.password-generator__checkbox{

}

.uppercase-check{

}

.lowercase-check{

}

.numbers-check{

}

.special-check{

}

/* Area de botoes */

.password-generator__button-container{

}

.password-generator__button{

}

.password-generator__button--clear{

}

/* Area de resultado da senha */
.password-generator__result{

}

.hide{

}

.password-generator__title{

}

.password-generator__output{

}

.password-generator__tooltip{

}

/* area com o historico das senhas */

.password-generator__history{

}

.password-generator__history--title{

}

.password-generator__history--list{

}
